.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightpink;
  padding: 10px 20px;
  height: 56px;
  border-bottom: 1px solid var(--grey-5);

  .btn {
    background-color: var(--grey-5);
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

:deep() {
  .item {
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
      color: var(--grey-2);
    }
  }
}