:deep() {

  .q-table {
    thead th {
      font-size: 13px;
      line-height: 16px;
      font-weight: 600;
    }
  }

  .item {
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
      color: black;
      width: 22px;
      height: 22px;
    }

    &:not(:nth-last-of-type(1)) {
      border-bottom: 1px solid var(--grey-5);
    }
  }
}

.blocked {
  display: inline-block;
  padding: 4px 6px;
  border-radius: 4px;

  &--true {
    color: var(--red);
    background-color: #ff3b300d;
  }

  &--false {
    color: var(--grey);
    background-color: var(--grey-6);
  }
}