$primary   : #1976D2
$secondary : #26A69A
$accent    : #9C27B0

$dark      : #1D1D1D

$positive  : #21BA45
$negative  : #FF4747
$info      : #31CCEC
$warning   : #F2C037
$blue      : #194bfb
$outline   : #EDF2F7
$smoky     : #F7F7F7